/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* :root {
  --primary-text-color: #212121;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --additional-text-color: #757575;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #ffffff;
  --background-btn-color: #f5f4fa;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --extra-border-color: #ececec;
  --main-background-color: #2f303a;
  --btn-bg-color: #188ce8;
} */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  border: 0;
  cursor: pointer;
  border-radius: 4px;
}

.body {
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: var(--primaru-text-color);
  text-decoration: none;
} */

/* .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* .section {
  padding-top: 90px;
  padding-bottom: 90px;
} */

/* =========================== HEADER ========================== */

/* .header {
  border-bottom: 1px solid var(--extra-border-color);
}

.header-container {
  display: flex;
  align-items: center;
  height: 80px;
}

.page-nav {
  display: flex;
  align-items: center;
  column-gap: 90px;
}
.page-nav-list {
  display: flex;
  column-gap: 50px;
  padding-top: 32px;
}
.contact-list {
  display: flex;
}
.contact-mail {
  margin-left: auto;
  margin-right: 50px;
}
.logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  padding-bottom: 25px;

  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--logo-color);
  text-decoration: none;
}
.web {
  color: var(--accent-color);
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
} */

/* .list {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--primaru-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--accent-color);
} */

/* .link-current::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin-top: 28px;
}

.portfolio-nav-link,
.studio-nav-link {
  color: var(--accent-color);
}
.header-icon {
  display: block;
  position: absolute;
  left: -28px;
  top: -1px;
  width: 18px;
  height: 18px;

  fill: var(--additional-text-color);
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-mail:hover .header-icon,
.contact-mail:focus .header-icon {
  fill: var(--accent-color);
}

.contact-tel:hover .header-icon,
.contact-tel:focus .header-icon {
  fill: var(--accent-color);
}

.contact-mail {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--additional-text-color);
  text-decoration: none;
  margin-top: 32px;
  margin-bottom: 32px;
  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-tel {
  position: relative;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--additional-text-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}
.contact-tel:hover,
.contact-tel:focus {
  color: var(--accent-color);
} */
/* ===============/ HEADER /==================== */
/* =========================== HERO ======================= */
/* .hero-container {
  display: block;
  align-items: center;
  padding-bottom: 200px;
}

.hero {
  margin: 0 auto;
  max-width: 1600px;
  background-color: var(--main-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bgi.jpg);
  background-size: cover;
}

.hero-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-text-color);

  display: flex;
  text-align: center;
  padding-top: 200px;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  font-family: var(--primary-font);
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--accent-text-color);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  align-items: center;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;

  transition-property: color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-text-color);
  background-color: var(--btn-bg-color);
} */

/* ================================ features ========================= */
/* .features {
  margin-bottom: 0;
  padding-bottom: 47px;
}
.features-container {
  display: block;
}

.features-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-btn-color);
  border-radius: 4px;
}
.features-icon {
  width: 70px;
  height: 70px;
}

.features-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  margin-bottom: 50px;
}

.features-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.features-item-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primaru-text-color);
  padding-bottom: 10px;
  padding-top: 30px;
}
.features-item-text {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
} */
/* ======================================= what-we-do ================================ */
/* .what-we-do {
  margin-top: 0;
  padding-top: 47px;
}

.what-container {
  display: block;
}

.what-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primaru-text-color);
  margin-bottom: 50px;
}

.what-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.what-thumb {
  position: relative;
  overflow: hidden;
}
.what-overlay {
  position: absolute;
  height: 25%;
  width: 100%;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.what-overlay-text {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
  padding-top: 27px;
  padding-bottom: 27px;
} */
/* =========================== OUR TEAM ====================== */

/* .team {
  margin-bottom: 0;
  background-color: var(--background-btn-color);
}

.team-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primaru-text-color);
  margin-bottom: 50px;
  padding-top: 94px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 30px;
  padding-bottom: 90px;
}
.team-card {
  padding-bottom: 30px;
  background-color: var(--accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* .team-photo {
  margin-bottom: 50px; */
/* .team-text {
  padding-top: 50px;
}

.team-item-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primaru-text-color);
  margin-bottom: 10px;
}
.team-title-description {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
}
.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
  height: 44px;
  margin: 0 auto;
  padding-top: 16px;
  column-gap: 10px;
}

.social-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-link:hover,
.social-list-item-link:focus {
  background-color: var(--accent-color);
}

.social-list-item-link:hover .team-social-icon,
.social-list-item-link:focus .team-social-icon {
  fill: var(--accent-text-color);
} */

/* ======================== CLIENTS ======================== */
/* .clients-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding-top: 69px;
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  padding-bottom: 94px;
  padding-top: 50px;
}
.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.clients-icon {
  fill: #afb1b8;
  padding: 16px 32px;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item:hover,
.clients-item:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
  cursor: pointer;
}

.clients-item:hover .clients-icon,
.clients-item:focus .clients-icon {
  fill: var(--accent-color);
} */
/* ================  PORTFOLIO MAIN ====================== */
/* .menu-list {
  display: flex;
  list-style: none;
  column-gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.menu-btn {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 26px;

  color: var(--primaru-text-color);
  background-color: var(--background-btn-color);
}
.menu-btn:hover,
.menu-btn:focus {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-text {
  border: #eeeeee 1px solid;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 30px;
  row-gap: 30px;
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0%);
}

.portfolio-thumb {
  display: inline-block;
  content: "";
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  width: 370px;
  height: 295px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-text {
  background-color: rgba(33, 150, 243, 0.9);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  padding: 63px 24px;
}

.portfolio-link :hover .portfolio-overlay,
.portfolio-link :focus .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-item-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
}

.portfolio-item-description {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
  padding-bottom: 20px;
  padding-left: 24px;
} */

/* ============ FOOTER ================= */
/* .footer {
  background-color: var(--main-background-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address-list {
  margin-right: 70px;
}

.footer-logo {
  width: 145px;
  height: 31px;
  left: 215px;
  margin-top: 60px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--accent-text-color);
  text-decoration: none;
}

.footer-link,
.footer-address {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.address {
  padding-top: 20px;
}
.footer-link {
  color: var(--address-text-color);
}
.footer-address {
  color: var(--accent-text-color);
}
.footer-social {
  width: 206px;
  height: 80px;
}
.footer-icon-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--accent-text-color);
}

.footer-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
  height: 80px;
  margin: 0 auto;
  column-gap: 10px;
  padding-top: 16px;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--accent-text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--accent-color);
}

.footer-icon-link:hover .footer-icon,
.footer-icon-link:focus .footer-icon {
  fill: var(--accent-text-color);
} */
/* ===================== FOOTER FORM ================= */
/* .footer-form {
  margin-left: 93px;
  position: relative;

  width: 570px;
  height: 86px;
}

.footer-field-desk {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.footer-input-wrapper {
  display: flex;
  margin-top: 20px;
}

.footer-form-input {
  height: 50px;
  width: 358px;
  margin-right: 12px;
  background-color: var(--main-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--accent-text-color);
}

.footer-form-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 28px;

  color: var(--accent-text-color);
  background-color: var(--accent-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #188ce8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-form-icon {
  width: 24px;
  height: 24px;
  fill: var(--accent-text-color);
  margin-left: 10px;
} */

/* ===================== //FOOTER FORM ================= */
/* ============ //FOOTER ================= */

/* ============ BACKDROP  ================= */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4308;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */
/* ============ / BACKDROP  ================= */

/* ============ MODAL ================= */
/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-close-btn-icon {
  width: 11px;
  height: 11px;
}
.modal-caption {
  font-family: var(--primary-font);
  font-weight: 700;
  text-align: center;
  font-size: 20px;
} */
/* ============ / MODAL ================= */

/* ============ MODAL FORM  ================= */
/* .modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.modal-form-field-desc {
  display: block;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--additional-text-color);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  padding: 2px;
  color: var(--primary-text-color);
  display: block;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}
.modal-form-messege {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-messege:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-messege::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.madal-form-check-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  height: 24px;
  margin-bottom: 30px;
}

.modal-form-own-check {
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 1px;
}

.modal-form-own-check-icon {
  display: none;
  fill: var(--accent-text-color);
}

.modal-form-check:checked + .modal-form-own-check {
  background-color: var(--btn-bg-color);
  border-color: var(--btn-bg-color);
}

.modal-form-check:checked + .modal-form-own-check .modal-form-own-check-icon {
  display: block;
}

.modal-form-check:focus + .modal-form-own-check {
  outline: 2px solid rgba(0, 0, 201, 0.5);
}

.modal-form-check-discription {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
}

.modal-form-check-discription-link {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-form-btn {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;
  padding: 10px 52px;
  margin: 0 auto;

  color: var(--accent-text-color);
  background-color: var(--accent-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #188ce8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */

/* ============ / MODAL FORM  ================= */
