@media screen and (max-width: 767px) {
  .features__container {
    display: block;
    max-width: 480px;
  }

  .features__icon {
    width: 70px;
    height: 70px;

    &--item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 450px;
      height: 120px;
      background-color: var(--background-btn-color);
      border-radius: 4px;
    }
  }

  .features__list {
    margin-bottom: 30px;
  }

  .features__item {
    margin-bottom: 30px;

    &--title {
      font-family: var(--primary-font);
      font-style: normal;
      @include font(14px, 700, 16px);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primaru-text-color);
      align-items: center;
      text-align: center;
      padding-bottom: 10px;
      padding-top: 30px;
    }

    &--text {
      font-family: var(--primary-font);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--additional-text-color);
    }
  }
}
// ================== TABLET =======================
@media screen and (min-width: 768px) {
  .features__container {
    display: block;
    max-width: 768px;
    align-items: center;
  }

  .features__icon {
    width: 70px;
    height: 70px;

    &--item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 354px;
      height: 120px;
      background-color: var(--background-btn-color);
      border-radius: 4px;
    }
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
  }

  .features__item {
    width: 354px;

    &--title {
      font-family: var(--primary-font);
      font-style: normal;
      @include font(14px, 700, 16px);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primaru-text-color);
      align-items: center;
      text-align: center;
      padding-bottom: 10px;
      padding-top: 30px;
    }

    &--text {
      font-family: var(--primary-font);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--additional-text-color);
    }
  }
}

// ================== DESKTOP =======================
@media screen and (min-width: 1200px) {
  .features__container {
    max-width: 1600px;
    display: block;
  }

  .features__icon {
    width: 70px;
    height: 70px;

    &--item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 270px;
      height: 120px;
    }
  }
  .features__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-bottom: 50px;
  }

  .features__item {
    flex-basis: calc((100% - 3 * 30px) / 4);

    &--title {
      font-family: var(--primary-font);
      font-style: normal;
      @include font(14px, 700, 16px);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primaru-text-color);
      padding-bottom: 10px;
      padding-top: 30px;
    }

    &--text {
      font-family: var(--primary-font);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--additional-text-color);
    }
  }
}
