@media screen and (max-width: 767px) {
  .footer {
    background-color: var(--main-background-color);
  }

  .footer__container {
    width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer-address__list {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
  }

  .footer__logo {
    text-align: center;
    width: 145px;
    height: 31px;
    margin-left: auto;
    margin-right: auto;
    // left: 215px;
    margin-top: 60px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--accent-text-color);
    text-decoration: none;
  }

  .footer__link,
  .footer-address__link {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

  .footer-address {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .footer__link {
    color: var(--address-text-color);
  }

  .footer-address__link {
    color: var(--accent-text-color);
  }
  .mobile_link {
    color: var(--address-text-color);
  }

  .footer-icon {
    width: 206px;
    height: 80px;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-icon__title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--accent-text-color);
  }

  .footer-icon__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 80px;
    margin: 0 auto;
    column-gap: 10px;
    padding-top: 16px;
  }

  .footer-icon__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  .footer-icon__svg {
    width: 20px;
    height: 20px;
    fill: var(--accent-text-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .footer-icon__link:hover &,
    .footer-icon__link:focus & {
      fill: var(--accent-text-color);
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    background-color: var(--main-background-color);
  }

  .footer__container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer-address__list {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
  }

  .footer__logo {
    text-align: center;
    width: 145px;
    height: 31px;
    margin-left: 0;
    margin-right: 0;
    // left: 215px;
    margin-top: 60px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--accent-text-color);
    text-decoration: none;
  }

  .footer__link,
  .footer-address__link {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .footer-address {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .footer__link {
    color: var(--address-text-color);
  }

  .footer-address__link {
    color: var(--accent-text-color);
  }
  .mobile_link {
    color: var(--address-text-color);
  }

  .footer-icon {
    width: 206px;
    height: 80px;
    justify-content: center;
    text-align: center;
  }

  .footer-icon__title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--accent-text-color);
  }

  .footer-icon__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 80px;
    margin: 0 auto;
    column-gap: 10px;
    padding-top: 16px;
  }

  .footer-icon__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  .footer-icon__svg {
    width: 20px;
    height: 20px;
    fill: var(--accent-text-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .footer-icon__link:hover &,
    .footer-icon__link:focus & {
      fill: var(--accent-text-color);
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    margin-left: auto;
    width: 1200px;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer-address__list {
    margin-left: 0;
    margin-right: 0;
    justify-content: start;
    text-align: start;
    margin-right: 70px;
  }

  .footer__logo {
    left: 215px;
    margin-top: 60px;
  }

  .footer-icon {
    width: 206px;
    height: 80px;
    justify-content: start;
    text-align: center;
    margin-right: 90px;
  }
}
