@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
  .header__communication {
    display: none;
  }

  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    width: 40px;
    height: 40px;
    &__icon {
      width: 24px;
      height: 16px;
      padding: 16px, 24px;
    }
  }
}

@media screen and (min-width: 767px) {
  .header__container {
    height: 79px;
  }

  .mobile-menu-btn {
    display: none;
    &__icon {
      display: none;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    column-gap: 70px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .nav__list {
    display: flex;
    column-gap: 50px;
  }
  .header__communication {
    display: block;
    column-gap: 10px;
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .header__contact {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
  }
  .header__icon {
    width: 14px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 100%;
  }

  .header__communication {
    display: flex;
  }
}

.header {
  border-bottom: 1px solid var(--extra-border-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  padding-bottom: 25px;

  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--logo-color);
  text-decoration: none;

  &__first-part {
    color: var(--accent-color);
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  }
}
.nav__list-link {
  display: block;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--primaru-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

.nav__list-link--current {
  color: var(--accent-color);

  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 47px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    margin-top: 28px;
  }
}

.header__icon {
  display: inline;
  position: relative;
  left: 0;
  top: 3px;
  width: 18px;
  height: 18px;

  fill: var(--additional-text-color);
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .header__contact:hover &,
  .header__contact:focus & {
    fill: var(--accent-color);
  }
}

.header__contact {
  // position: relative;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;

  letter-spacing: 0.02em;
  color: var(--additional-text-color);

  text-decoration: none;
  // margin-left: 0 auto;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
