.our-case {
  margin-top: 0;
  padding-top: 47px;
}

.our-case__container {
  display: block;
}

.our-case__title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primaru-text-color);
  margin-bottom: 50px;
}

.our-case__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.our-case__thumb {
  position: relative;
  overflow: hidden;
}
.our-case__overlay {
  position: absolute;
  height: 25%;
  width: 100%;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-case__text {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
  padding-top: 27px;
  padding-bottom: 27px;
}
