.team {
  margin-bottom: 0;
  background-color: var(--background-btn-color);

  &__title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primaru-text-color);
    margin-bottom: 50px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 30px;
    padding-bottom: 90px;

    &__card {
      padding-bottom: 30px;
      background-color: var(--accent-text-color);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }

    &__text {
      padding-top: 50px;
    }

    &__name {
      font-family: var(--primary-font);
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.18;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--primaru-text-color);
      margin-bottom: 10px;
    }

    &__description {
      font-family: var(--primary-font);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.18;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--additional-text-color);
    }
  }
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
  height: 44px;
  margin: 0 auto;
  margin-top: 16px;
  column-gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: var(--accent-text-color);
  }
}
