:root {
  --primary-text-color: #212121;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --additional-text-color: #757575;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #ffffff;
  --background-btn-color: #f5f4fa;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --extra-border-color: #ececec;
  --main-background-color: #2f303a;
  --btn-bg-color: #188ce8;
}
